.page-header {
  width: 100%;
  background-color: $bgHeader;

  .wrapper__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint($medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.header__logo {
  font-family: $sansSerif_B;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;

  @include breakpoint($medium) {
    font-size: 2.5rem;
  }

  @include breakpoint($large) {
    margin-left: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    width: 18rem;
    padding: .5rem 0 .5rem 8rem;
    background: transparent url('../images/kcl-logo.png') left center no-repeat;
    background-size: auto 4.75rem;

    @include breakpoint($medium) {
      width: 24rem;
      padding: .5rem 0 .5rem 10rem;
      background: transparent url('../images/kcl-logo.png') left center no-repeat;
      background-size: auto 6rem;
    }

    &:link,
    &:visited,
    &:active {
      color: $black;
    }

    &:hover,
    &:focus {
      color: $black;
    }

  //   &::before {
  //     content: url('../images/kcl-logo.png');
  //   }
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 1000;
  display: none;
}
