.project-grid {

  .wrapper {}

  .wrapper_inner {}

  h2 {
    font-family: $sansSerif_B;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;

    // &.tags-heading::after {
    //   content: "Show \25bc";
    //   width: auto;
    //   text-align: center;
    //   display: inline-block;
    //   font-family: $sansSerif_B;
    //   font-size: 18px;
    //   margin-left: 24px;
    //   padding: 4px 8px 0;
    //   color: $darkGrey;
    //   border: 1px solid $darkGrey;

    //   &.is-visible::after {
    //     content: "Hide \25b2";
    //   }
    // }
  }

  h3.tag-category {
    font-family: $sansSerif;
    font-weight: 300;
    border-bottom: 1px solid $darkGrey;
  }
}

.projects,
.agencies {
  background-color: $lightGrey;
  padding: 30px 0;

  .wrapper_inner {
    margin: 0 -15px !important;
  }

  .isotope-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project,
  .agency {
    background-color: $white;
    margin: 0 15px 30px;
    padding: 0 0 30px;

    width: calc(100% - 30px);

    @include breakpoint($grid2Col) {
      width: calc(50% - 30px);
      float: left;
    }

    @include breakpoint($grid3Col) {
      width: calc(33.33333333% - 30px);
      float: left;
    }

    @include breakpoint($grid4Col) {
      width: calc(25% - 30px);
      float: left;
    }

    @include breakpoint($grid5Col) {
      width: calc(20% - 30px);
      float: left;
    }
  }

  .project_thumbnail,
  .agency_thumbnail {
    margin: 0;
  }

  .project_content,
  .agency_content {
    padding:  30px;
  }

  .project_title,
  .agency_title {
    font-family: $sansSerif_B;
    font-size: 1.6875rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    a {
      color: $black;
    }
  }

  .project_site-name,
  .agency_site-name {
    text-align: center;
    color: $blue;
    margin-top: -1rem;
  }

  .project_excerpt,
  .agency_excerpt {
    font-family: "caslon", serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  .project_read-more,
  .agency_read-more {
    margin-top: 30px;
    text-align: center;

    a {
      @extend .button;
      border-radius: 0;
    }
  }
}
