.post-grid {
  background-color: $white;

  .post-grid__heading h2 {
    font-family: $sansSerif_B;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
  }

  // Styles for 'The Post Grid' plugin
  .rt-tpg-container {
    .rt-row {
      padding: 0 !important;
      margin: 0 !important;

      .wrapper:last-child {
        background-color: $lightGrey;
      }

      .rt-tpg-isotope-buttons {
        text-align: left;
        padding: 0 !important;
        margin: 0 !important;

        button {
          @extend .button;
          margin: 0 1rem 1rem 0;
          opacity: 1;
        }
      }
      .rt-tpg-isotope {
        padding: 0 !important;
        margin: 30px -15px !important;

        .isotope-item {
          margin: 0 15px;
          width: calc(100% - 30px);
          float: none;

          @include breakpoint($grid2Col) {
            width: calc(50% - 30px);
            float: left;
          }

          @include breakpoint($grid3Col) {
            width: calc(33.33333333% - 30px);
            float: left;
          }

          @include breakpoint($grid4Col) {
            width: calc(25% - 30px);
            float: left;
          }

          @include breakpoint($grid5Col) {
            width: calc(20% - 30px);
            float: left;
          }

          .rt-img-holder {
            img {
              width: 100%;
              height: auto;
            }
          }

          .rt-detail {
            padding: $post-spacing $post-spacing / 2 !important;

            .entry-title {
              font-family: $sansSerif_B;
              font-size: 1.6875rem;
              font-weight: 500;
              line-height: 1.5;
              text-align: center;

              a {
                color: $black;
              }
            }

            .entry-content {
              @include breakpoint($medium) {
                text-align: center;
              }
            }

            .read-more {
              text-align: center !important;

              a {
                @extend .button;
                border-radius: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
