.post-grid {
  background-color: $white;

  // Styles for 'The Post Grid' plugin
  .rt-tpg-container {
    .rt-row {
      padding: 0 !important;
      margin: 0 !important;

      .wrapper:last-child {
        background-color: $lightGrey;
      }

      .rt-tpg-isotope-buttons {
        text-align: left;
        padding: 0 !important;
        margin: 0 !important;

        button {
          @extend .button;
          margin: 0 1rem 1rem 0;
          opacity: 1;
        }
      }
      .rt-tpg-isotope {
        padding: 0 !important;
        margin: 30px -15px !important;

        .isotope-item {
          margin: 0;

          .rt-img-holder {
            img {
              width: 100%;
              height: auto;
            }
          }

          .rt-detail {
            padding: $post-spacing $post-spacing / 2 !important;

            .entry-title {
              text-align: center;

              a {
                color: $black;
              }
            }

            .entry-content {
              @include breakpoint($medium) {
                text-align: center;
              }
            }

            .read-more {
              text-align: center !important;

              a {
                @extend .button;
                border-radius: 0 !important;
              }
            }
          }
        }
      }
    }

    // .rt-row {
    //   margin: 0;
    // }

    // .rt-tpg-isotope-buttons {
    //   background-color: $white;
    //   text-align: left;
    //   margin: 0 1rem;

    //   @include breakpoint($large) {
    //     margin: 0;
    //   }

    //   button {
    //     @extend .button;
    //     margin: 0 1rem 1rem 0;
    //     opacity: 1;
    //   }
    // }

    // .rt-row .wrapper:last-child {
    //   background-color: $lightGrey;
    //   padding: 0;
    //   margin-top: 0rem;
    // }

    // .rt-tpg-isotope {
    //   margin: $post-spacing 0;

    //   @include breakpoint($large) {
    //     margin: $post-spacing -1 * $post-spacing / 2;
    //   }
    // }

    // .isotope-item {
    //   padding: 0 $post-spacing / 2;
    // }

    // .rt-holder {
    //   padding: 0;
    // }

    // .rt-detail {
    //   padding: 0 1rem !important;

    //   .entry-title {
    //     text-align: center;
    //     padding: 0 $post-spacing / 2;

    //     a {
    //       color: $black;
    //     }
    //   }

    //   .entry-content {
    //     font-family: $serif;
    //     font-size: 1.375rem;
    //     font-weight: 500;
    //     line-height: 1.875;
    //     padding: 0 $post-spacing / 2;
    //   }

    //   .read-more {
    //     text-align: center !important;

    //     a {
    //       @extend .button;
    //       border-radius: 0 !important;
    //     }
    //   }
    // }
  }
}
