.wrapper {
  width: 100% !important;
}

.wrapper__inner {
  position: relative !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 1rem !important;

  @include breakpoint($large) {
    max-width: $large - 2rem !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .is-fullwidth & {
    padding: 0 !important;
  }
}
