.wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper__inner {
  position: relative !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 1rem !important;
  overflow: hidden;

  @include breakpoint($medium) {
    max-width: $large !important;
    margin: 0 auto !important;
    padding: 0 2rem!important;
  }

  @include breakpoint($large) {
    max-width: $larger !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
  }

  @include breakpoint($larger) {
    max-width: $largest !important;
    margin: 0 auto !important;
    padding: 0 9.375rem !important;
  }

  // @include breakpoint($largest) {
  //   max-width: calc($largest - 18.75rem) !important;
  //   margin: 0 auto !important;
  //   padding: 0 !important;
  // }

  .is-fullwidth & {
    padding: 0 !important;
  }
}

.grid {
  padding-top: 2rem;

  @include breakpoint($medium) {
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: 56%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "gallery content"
      "gallery content"
      "gallery form";
  }
}

.grid-item {}

.grid-item--main-content {
  grid-area: content;
}

.grid-item--gallery {
  grid-area: gallery;
}

.grid-item--contact-form {
  grid-area: form;
}
