button,
.button {
  font-family: $sansSerif_B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: .5rem 1rem;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 0;
  text-decoration: none;

  &:hover,
  &:focus,
  &.selected {
    color: $white;
    background-color: $blue;
  }
}



