.wrapper {
  width: 100%;
}

.wrapper__inner {
  width: auto;
  margin: 0 1rem;
  outline: 1px solid red;

  @include breakpoint($large) {
    max-width: calc(960px - 2rem);
    margin: 0 auto;
  }
}
