@font-face {
  font-family: "bureau-grotesque-bold";
  src: url("../fonts/KingsBureauGrot-ThreeSeven.woff") format("woff"), url("../fonts/KingsBureauGrot-ThreeSeven.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque-bolditalic";
  src: url("../fonts/KingsBureauGrot-ThrSevnItal.woff") format("woff"), url("../fonts/KingsBureauGrot-ThrSevnItal.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque";
  src: url("../fonts/KingsBureauGrot-FiveOne.woff") format("woff"), url("../fonts/KingsBureauGrot-FiveOne.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque-italic";
  src: url("../fonts/KingsBureauGrot-FiveOneItal.woff") format("woff"), url("../fonts/KingsBureauGrot-FiveOneItal.woff2") format("woff2");
}
@font-face {
  font-family: "caslon";
  src: url("../fonts/KingsCaslon.woff") format("woff"), url("../fonts/KingsCaslon.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-italic";
  src: url("../fonts/KingsCaslonItalic.woff") format("woff"), url("../fonts/KingsCaslonItalic.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-bold";
  src: url("../fonts/KingsCaslonSemiBold.woff") format("woff"), url("../fonts/KingsCaslonSemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-bolditalic";
  src: url("../fonts/KingsCaslonSemiBoldItalic.woff") format("woff"), url("../fonts/KingsCaslonSemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-display";
  src: url("../fonts/KingsCaslonDisplay.woff") format("woff"), url("../fonts/KingsCaslonDisplay.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-display-italic";
  src: url("../fonts/KingsCaslonDisplayItalic.woff") format("woff"), url("../fonts/KingsCaslonDisplayItalic.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "caslon", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h5 {
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-family: "bureau-grotesque-italic", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-family: "caslon", serif;
  font-family: "caslon", serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  font-family: "caslon", serif;
  font-family: "caslon", serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

blockquote {
  position: relative;
  margin: 0;
  border-left: 1rem solid #e8e8e8;
  padding: 0 0 0 2rem;
}
blockquote p:first-child {
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

.page-content {
  background-color: #e8e8e8;
}

.post__content {
  background-color: #fff;
  padding: 0 2rem;
  margin: 0;
}

.page-header {
  width: 100%;
  background-color: #cdd7d7;
}
.page-header .wrapper__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 50rem) {
  .page-header .wrapper__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.header__logo {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
}
@media (min-width: 50rem) {
  .header__logo {
    font-size: 2.5rem;
  }
}
@media (min-width: 64rem) {
  .header__logo {
    margin-left: 0;
  }
}
.header__logo a {
  display: inline-block;
  text-decoration: none;
  width: 18rem;
  padding: 0.5rem 0 0.5rem 8rem;
  background: transparent url("../images/kcl-logo.png") left center no-repeat;
  background-size: auto 4.75rem;
}
@media (min-width: 50rem) {
  .header__logo a {
    width: 24rem;
    padding: 0.5rem 0 0.5rem 10rem;
    background: transparent url("../images/kcl-logo.png") left center no-repeat;
    background-size: auto 6rem;
  }
}
.header__logo a:link, .header__logo a:visited, .header__logo a:active {
  color: #000;
}
.header__logo a:hover, .header__logo a:focus {
  color: #000;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}

.nav-main {
  padding: 0.5rem 0;
}
@media (min-width: 50rem) {
  .nav-main {
    font-size: 1.5rem;
  }
}
.nav-main ul {
  display: inline-block;
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-main .menu-item {
  display: inline-block;
  padding-right: 0.5rem;
}
.nav-main .menu-item a {
  text-decoration: none;
  color: #000;
}
.nav-main .menu-item.current-menu-item a {
  color: #df2525;
}

.hero {
  position: relative;
}

.hero__text {
  width: auto;
  max-width: 45rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 50rem) {
  .hero__text {
    padding: 0.5rem 1rem;
    margin: 4rem 0;
  }
}
.hero__text p {
  font-family: "caslon", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.875rem;
}

.filters ul.categories {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}
.filters li.category {
  display: inline-block;
  margin: 0 1rem 2rem 0;
}

.post-grid {
  background-color: #fff;
}
.post-grid .post-grid__heading h2 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}
.post-grid .rt-tpg-container .rt-row {
  padding: 0 !important;
  margin: 0 !important;
}
.post-grid .rt-tpg-container .rt-row .wrapper:last-child {
  background-color: #e8e8e8;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons {
  text-align: left;
  padding: 0 !important;
  margin: 0 !important;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons button {
  margin: 0 1rem 1rem 0;
  opacity: 1;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope {
  padding: 0 !important;
  margin: 30px -15px !important;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item {
  margin: 0 15px;
  width: calc(100% - 30px);
  float: none;
}
@media (min-width: 40rem) {
  .post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item {
    width: calc(50% - 30px);
    float: left;
  }
}
@media (min-width: 64rem) {
  .post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item {
    width: calc(33.33333333% - 30px);
    float: left;
  }
}
@media (min-width: 105rem) {
  .post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item {
    width: calc(25% - 30px);
    float: left;
  }
}
@media (min-width: 120rem) {
  .post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item {
    width: calc(20% - 30px);
    float: left;
  }
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-img-holder img {
  width: 100%;
  height: auto;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail {
  padding: 1rem 0.5rem !important;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .entry-title {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.6875rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .entry-title a {
  color: #000;
}
@media (min-width: 50rem) {
  .post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .entry-content {
    text-align: center;
  }
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more {
  text-align: center !important;
}
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more a {
  border-radius: 0 !important;
}

.post__gallery .gallery-item {
  margin-bottom: 2rem;
}
.post__gallery .gallery-item.image img {
  width: 100%;
  height: auto;
}
.post__gallery .gallery-item.video--array video, .post__gallery .gallery-item.video--html5 video {
  width: 100%;
  height: auto;
}
.post__gallery .gallery-item.video--iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.post__gallery .gallery-item.video--iframe iframe, .post__gallery .gallery-item.video--iframe embed, .post__gallery .gallery-item.video--iframe object, .post__gallery .gallery-item.video--iframe video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post__hero .hero-item {
  margin-bottom: 2rem;
}
@media (min-width: 50rem) {
  .post__hero .hero-item {
    margin-bottom: 0;
  }
}
.post__hero .hero-item.image img {
  width: 100%;
  height: auto;
}
.post__hero .hero-item.video--array video, .post__hero .hero-item.video--html5 video {
  width: 100%;
  height: auto;
}
.post__hero .hero-item.video--iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.post__hero .hero-item.video--iframe iframe, .post__hero .hero-item.video--iframe embed, .post__hero .hero-item.video--iframe object, .post__hero .hero-item.video--iframe video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-form {
  background-color: #fff;
  padding: 0;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  font-size: 1.5rem;
  border: 2px solid #cdd7d7;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}
.contact-form input:hover, .contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-color: #2991d6;
}
.contact-form input.wpcf7-not-valid,
.contact-form textarea.wpcf7-not-valid {
  border-color: #df2525;
}
.contact-form input[type=checkbox],
.contact-form input[type=radio] {
  display: inline-block;
  width: 1rem;
}
.contact-form input[type=submit] {
  color: #fff !important;
  background-color: #2991d6 !important;
  border-radius: 0;
}
.contact-form input[type=submit]:hover, .contact-form input[type=submit]:focus {
  background-color: #195780 !important;
}
.contact-form .wpcf7-list-item {
  display: block;
  margin-left: 0;
}
.contact-form .wpcf7-not-valid-tip {
  display: inline-block;
  color: #fff;
  background-color: #df2525;
  padding: 0 0.5rem;
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  float: right;
}
.contact-form .wpcf7-display-none {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  color: black;
}

button,
.button,
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button .ugb-button--inner,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons button,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more a,
.contact-form input[type=submit],
.wp-block-button a {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem !important;
  color: #2991d6 !important;
  background-color: #fff !important;
  border: 1px solid #2991d6 !important;
  border-radius: 0;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
}
button:hover, button:focus, button.selected,
.button:hover,
#postContent .ugb-button .ugb-button--inner:hover,
#pageContent .ugb-button .ugb-button--inner:hover,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons button:hover,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more a:hover,
.contact-form input[type=submit]:hover,
.button:focus,
#postContent .ugb-button .ugb-button--inner:focus,
#pageContent .ugb-button .ugb-button--inner:focus,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons button:focus,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more a:focus,
.contact-form input[type=submit]:focus,
.button.selected,
#postContent .ugb-button .selected.ugb-button--inner,
#pageContent .ugb-button .selected.ugb-button--inner,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope-buttons button.selected,
.post-grid .rt-tpg-container .rt-row .rt-tpg-isotope .isotope-item .rt-detail .read-more a.selected,
.contact-form input.selected[type=submit],
.wp-block-button a:hover,
.wp-block-button a:focus,
.wp-block-button a.selected {
  color: #fff !important;
  background-color: #2991d6 !important;
}

#postContent .ugb-button,
#pageContent .ugb-button {
  border: none;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  background: #2091e1;
  background: var(--s-primary-color, #2091e1);
  padding: 0;
  line-height: 1.5 !important;
  align-items: center;
  font-size: 1em;
  position: relative;
}
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button .ugb-button--inner {
  text-decoration: none !important;
  display: inline-block;
}
#postContent .ugb-button,
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button,
#pageContent .ugb-button .ugb-button--inner {
  transition: all 0.5s ease-in-out;
  box-shadow: none !important;
}
#postContent .ugb-button *,
#pageContent .ugb-button * {
  position: relative;
  z-index: 2;
}
#postContent .ugb-button:not(.ugb-link-button):not(.ugb-button--design-link),
#pageContent .ugb-button:not(.ugb-link-button):not(.ugb-button--design-link) {
  text-decoration: none !important;
}
#postContent .ugb-button-wrapper .ugb-block-content .ugb-button,
#pageContent .ugb-button-wrapper .ugb-block-content .ugb-button {
  margin: 0;
  display: inline-block;
}
#postContent .ugb-button-wrapper .ugb-block-content,
#pageContent .ugb-button-wrapper .ugb-block-content {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -0.5em;
  margin-right: -0.5em;
  width: calc(100% + 1em);
}
#postContent .ugb-block-content,
#postContent .ugb-inner-block,
#pageContent .ugb-block-content,
#pageContent .ugb-inner-block {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  text-align: center;
}

.wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper__inner {
  position: relative !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 1rem !important;
  overflow: hidden;
}
@media (min-width: 50rem) {
  .wrapper__inner {
    max-width: 64rem !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
  }
}
@media (min-width: 64rem) {
  .wrapper__inner {
    max-width: 80rem !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
  }
}
@media (min-width: 80rem) {
  .wrapper__inner {
    max-width: 120rem !important;
    margin: 0 auto !important;
    padding: 0 9.375rem !important;
  }
}
.is-fullwidth .wrapper__inner {
  padding: 0 !important;
}

.grid {
  padding-top: 2rem;
}
@media (min-width: 50rem) {
  .grid {
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto 0;
    grid-template-areas: "hero     content" "gallery  content" "gallery  form";
  }
}
@media (min-width: 64rem) {
  .grid {
    grid-template-columns: 56% auto;
  }
}

.grid-item--hero {
  grid-area: hero;
}

.grid-item--main-content {
  grid-area: content;
  padding-top: 1rem;
}
@media (min-width: 50rem) {
  .grid-item--main-content {
    padding-top: 0;
  }
}

.grid-item--gallery {
  grid-area: gallery;
}

.grid-item--form {
  grid-area: form;
}

/*# sourceMappingURL=main.css.map */
