@charset "UTF-8";
@font-face {
  font-family: "bureau-grotesque-bold";
  src: url("../fonts/KingsBureauGrot-ThreeSeven.woff") format("woff"), url("../fonts/KingsBureauGrot-ThreeSeven.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque-bolditalic";
  src: url("../fonts/KingsBureauGrot-ThrSevnItal.woff") format("woff"), url("../fonts/KingsBureauGrot-ThrSevnItal.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque";
  src: url("../fonts/KingsBureauGrot-FiveOne.woff") format("woff"), url("../fonts/KingsBureauGrot-FiveOne.woff2") format("woff2");
}
@font-face {
  font-family: "bureau-grotesque-italic";
  src: url("../fonts/KingsBureauGrot-FiveOneItal.woff") format("woff"), url("../fonts/KingsBureauGrot-FiveOneItal.woff2") format("woff2");
}
@font-face {
  font-family: "caslon";
  src: url("../fonts/KingsCaslon.woff") format("woff"), url("../fonts/KingsCaslon.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-italic";
  src: url("../fonts/KingsCaslonItalic.woff") format("woff"), url("../fonts/KingsCaslonItalic.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-bold";
  src: url("../fonts/KingsCaslonSemiBold.woff") format("woff"), url("../fonts/KingsCaslonSemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-bolditalic";
  src: url("../fonts/KingsCaslonSemiBoldItalic.woff") format("woff"), url("../fonts/KingsCaslonSemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-display";
  src: url("../fonts/KingsCaslonDisplay.woff") format("woff"), url("../fonts/KingsCaslonDisplay.woff2") format("woff2");
}
@font-face {
  font-family: "caslon-display-italic";
  src: url("../fonts/KingsCaslonDisplayItalic.woff") format("woff"), url("../fonts/KingsCaslonDisplayItalic.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: "caslon", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h5 {
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-family: "bureau-grotesque-italic", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-family: "caslon", serif;
  font-family: "caslon", serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  font-family: "caslon", serif;
  font-family: "caslon", serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

blockquote {
  position: relative;
  margin: 0;
  border-left: 1rem solid #e8e8e8;
  padding: 0 0 0 2rem;
}
blockquote p:first-child {
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

.page-content {
  background-color: #e8e8e8;
}
.page-content .wrapper .wrapper__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#post-about .main-content,
#post-kings-brand .main-content {
  width: 100%;
  margin: 2rem 0 2rem;
}
#post-about .side-content,
#post-kings-brand .side-content {
  display: none;
}

.main-content {
  width: calc(70% - 2rem);
  background-color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 2rem 2rem 0;
}
.main-content .logo {
  float: left;
  width: 100px;
  margin: 0 2rem 2rem 0;
}
.main-content .article-body {
  clear: both;
}

.page__side-content {
  width: 30%;
}
.page__side-content .side-content__posts,
.page__side-content .side-content__categories,
.page__side-content .side-content__metadata {
  background-color: #fff;
  padding: 0.5rem 2rem 1.5rem;
  margin: 2rem 0;
  color: #5a6469;
}
.page__side-content .side-content__posts ul,
.page__side-content .side-content__categories ul,
.page__side-content .side-content__metadata ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}
.page__side-content .side-content__posts li,
.page__side-content .side-content__categories li,
.page__side-content .side-content__metadata li {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cdd7d7;
  margin-bottom: 0.5rem;
}
.page__side-content .side-content__posts li a::after,
.page__side-content .side-content__categories li a::after,
.page__side-content .side-content__metadata li a::after {
  content: "»";
  float: right;
}
.page__side-content .side-content__posts li a:link,
.page__side-content .side-content__posts li a:visited,
.page__side-content .side-content__posts li a:active,
.page__side-content .side-content__categories li a:link,
.page__side-content .side-content__categories li a:visited,
.page__side-content .side-content__categories li a:active,
.page__side-content .side-content__metadata li a:link,
.page__side-content .side-content__metadata li a:visited,
.page__side-content .side-content__metadata li a:active {
  color: #5a6469;
  text-decoration: none;
}
.page__side-content .side-content__posts li a:hover,
.page__side-content .side-content__posts li a:focus,
.page__side-content .side-content__categories li a:hover,
.page__side-content .side-content__categories li a:focus,
.page__side-content .side-content__metadata li a:hover,
.page__side-content .side-content__metadata li a:focus {
  text-decoration: underline;
}

.post-content {
  background-color: #e8e8e8;
}

.post__content {
  background-color: #fff;
  padding: 0 2rem;
  margin: 0;
}

.post__side-content .side-content__project-metadata,
.post__side-content .side-content__testimonial {
  background-color: #fff;
  padding: 0.5rem 2rem 1.5rem;
  border-top: 2rem solid #e8e8e8;
  margin: 0 -2rem;
  color: #5a6469;
}
.post__side-content .side-content__project-metadata ul,
.post__side-content .side-content__testimonial ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}
.post__side-content .side-content__project-metadata li,
.post__side-content .side-content__testimonial li {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cdd7d7;
}
.post__side-content .side-content__project-metadata .testimonial_source,
.post__side-content .side-content__testimonial .testimonial_source {
  text-align: right;
  font-style: italic;
}

.page-header {
  width: 100%;
  background-color: #cdd7d7;
}
.page-header .wrapper__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 50rem) {
  .page-header .wrapper__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.site-header__site-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.site-header__site-link:link, .site-header__site-link:visited, .site-header__site-link:active {
  color: #000;
}
.site-header__site-link:hover, .site-header__site-link:focus {
  color: #000;
}

.site-header__site-logo {
  display: inline-block;
  width: 100px;
  line-height: 0;
}
@media (min-width: 50rem) {
  .site-header__site-logo {
    width: 126px;
  }
}
.site-header__site-logo img {
  width: 100%;
}

.site-header__site-name {
  display: inline-block;
  width: 15rem;
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 1.75rem;
}
@media (min-width: 50rem) {
  .site-header__site-name {
    font-size: 2.5rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 64rem) {
  .site-header__site-name {
    margin-left: 0;
  }
}
.site-header__site-name a:link, .site-header__site-name a:visited, .site-header__site-name a:active {
  color: #000;
}
.site-header__site-name a:hover, .site-header__site-name a:focus {
  color: #000;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}

.nav-main {
  padding: 0.5rem 0;
}
.nav-main ul {
  display: inline-block;
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 50rem) {
  .nav-main ul {
    text-align: right;
  }
}
.nav-main .menu-item {
  display: inline-block;
  padding-right: 0.5rem;
}
.nav-main .menu-item a {
  text-decoration: none;
  color: #000;
  padding: 0.2rem 0;
}
.nav-main .menu-item.current-menu-item a {
  color: #df2525;
}

.hero {
  position: relative;
}

.hero__text {
  width: auto;
  max-width: 45rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 50rem) {
  .hero__text {
    padding: 0.5rem 1rem;
    margin: 4rem 0;
  }
}
.hero__text p {
  font-family: "caslon", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.875rem;
}

.filters {
  padding: 0 0 15px;
  background-color: #fff;
}
.filters .wrapper__inner {
  display: block !important;
}
.filters h2 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}
.filters h2.tags-heading::after {
  content: "Show ▼";
  width: auto;
  text-align: center;
  display: inline-block;
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 18px;
  margin-left: 24px;
  padding: 4px 8px 0;
  color: #5a6469;
  border: 1px solid #5a6469;
}
.filters h2.tags-heading::after.is-visible::after {
  content: "Hide ▲";
}
.filters h3.tag-category {
  font-family: "bureau-grotesque", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #5a6469;
}
.filters button.filter.tag {
  border: 0 !important;
  padding: 0 1rem 0.5rem 0 !important;
}
.filters button.filter.tag:hover, .filters button.filter.tag:focus, .filters button.filter.tag.selected {
  color: #2991d6 !important;
  background-color: #fff !important;
  text-decoration: underline !important;
}

.project-grid h2 {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}
.project-grid h3.tag-category {
  font-family: "bureau-grotesque", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #5a6469;
}

.projects,
.agencies {
  background-color: #e8e8e8;
  padding: 30px 0;
}
.projects .wrapper_inner,
.agencies .wrapper_inner {
  margin: 0 -15px !important;
}
.projects .isotope-container,
.agencies .isotope-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.projects .project,
.projects .agency,
.agencies .project,
.agencies .agency {
  background-color: #fff;
  margin: 0 15px 30px;
  padding: 0 0 30px;
  width: calc(100% - 30px);
}
@media (min-width: 40rem) {
  .projects .project,
.projects .agency,
.agencies .project,
.agencies .agency {
    width: calc(50% - 30px);
    float: left;
  }
}
@media (min-width: 64rem) {
  .projects .project,
.projects .agency,
.agencies .project,
.agencies .agency {
    width: calc(33.33333333% - 30px);
    float: left;
  }
}
@media (min-width: 105rem) {
  .projects .project,
.projects .agency,
.agencies .project,
.agencies .agency {
    width: calc(25% - 30px);
    float: left;
  }
}
@media (min-width: 120rem) {
  .projects .project,
.projects .agency,
.agencies .project,
.agencies .agency {
    width: calc(20% - 30px);
    float: left;
  }
}
.projects .project_thumbnail,
.projects .agency_thumbnail,
.agencies .project_thumbnail,
.agencies .agency_thumbnail {
  margin: 0;
}
.projects .project_content,
.projects .agency_content,
.agencies .project_content,
.agencies .agency_content {
  padding: 30px;
}
.projects .project_title,
.projects .agency_title,
.agencies .project_title,
.agencies .agency_title {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1.6875rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.projects .project_title a,
.projects .agency_title a,
.agencies .project_title a,
.agencies .agency_title a {
  color: #000;
}
.projects .project_site-name,
.projects .agency_site-name,
.agencies .project_site-name,
.agencies .agency_site-name {
  text-align: center;
  color: #2991d6;
  margin-top: -1rem;
}
.projects .project_excerpt,
.projects .agency_excerpt,
.agencies .project_excerpt,
.agencies .agency_excerpt {
  font-family: "caslon", serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.projects .project_read-more,
.projects .agency_read-more,
.agencies .project_read-more,
.agencies .agency_read-more {
  margin-top: 30px;
  text-align: center;
}
.projects .project_read-more a,
.projects .agency_read-more a,
.agencies .project_read-more a,
.agencies .agency_read-more a {
  border-radius: 0;
}

.post__gallery .gallery-item {
  margin-bottom: 2rem;
  line-height: 0;
}
.post__gallery .gallery-item:last-child {
  margin-bottom: 0;
}
.post__gallery .gallery-item.image img {
  width: 100%;
  height: auto;
}
.post__gallery .gallery-item.video--array video, .post__gallery .gallery-item.video--html5 video {
  width: 100%;
  height: auto;
}
.post__gallery .gallery-item.video--iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.post__gallery .gallery-item.video--iframe iframe, .post__gallery .gallery-item.video--iframe embed, .post__gallery .gallery-item.video--iframe object, .post__gallery .gallery-item.video--iframe video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post__hero .hero-item {
  margin-bottom: 2rem;
}
@media (min-width: 50rem) {
  .post__hero .hero-item {
    margin-bottom: 0;
  }
}
.post__hero .hero-item.image img {
  width: 100%;
  height: auto;
}
.post__hero .hero-item.video--array video, .post__hero .hero-item.video--html5 video {
  width: 100%;
  height: auto;
}
.post__hero .hero-item.video--iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.post__hero .hero-item.video--iframe iframe, .post__hero .hero-item.video--iframe embed, .post__hero .hero-item.video--iframe object, .post__hero .hero-item.video--iframe video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-form {
  background-color: #fff;
  padding: 0;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  font-size: 1.5rem;
  border: 2px solid #cdd7d7;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}
.contact-form input:hover, .contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-color: #2991d6;
}
.contact-form input.wpcf7-not-valid,
.contact-form textarea.wpcf7-not-valid {
  border-color: #df2525;
}
.contact-form input[type=checkbox],
.contact-form input[type=radio] {
  display: inline-block;
  width: 1rem;
}
.contact-form input[type=submit] {
  color: #fff !important;
  background-color: #2991d6 !important;
  border-radius: 0;
}
.contact-form input[type=submit]:hover, .contact-form input[type=submit]:focus {
  background-color: #195780 !important;
}
.contact-form .wpcf7-list-item {
  display: block;
  margin-left: 0;
}
.contact-form .wpcf7-not-valid-tip {
  display: inline-block;
  color: #fff;
  background-color: #df2525;
  padding: 0 0.5rem;
  font-family: "bureau-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  float: right;
}
.contact-form .wpcf7-display-none {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  color: black;
}

button,
.button,
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button .ugb-button--inner,
.projects .project_read-more a,
.projects .agency_read-more a,
.agencies .project_read-more a,
.agencies .agency_read-more a,
.contact-form input[type=submit],
.wp-block-button a {
  font-family: "bureau-grotesque-bold", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem !important;
  color: #2991d6 !important;
  background-color: #fff !important;
  border: 1px solid #2991d6 !important;
  border-radius: 0;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
button:hover, button:focus, button.selected,
.button:hover,
#postContent .ugb-button .ugb-button--inner:hover,
#pageContent .ugb-button .ugb-button--inner:hover,
.projects .project_read-more a:hover,
.projects .agency_read-more a:hover,
.agencies .project_read-more a:hover,
.agencies .agency_read-more a:hover,
.contact-form input[type=submit]:hover,
.button:focus,
#postContent .ugb-button .ugb-button--inner:focus,
#pageContent .ugb-button .ugb-button--inner:focus,
.projects .project_read-more a:focus,
.projects .agency_read-more a:focus,
.agencies .project_read-more a:focus,
.agencies .agency_read-more a:focus,
.contact-form input[type=submit]:focus,
.button.selected,
#postContent .ugb-button .selected.ugb-button--inner,
#pageContent .ugb-button .selected.ugb-button--inner,
.projects .project_read-more a.selected,
.projects .agency_read-more a.selected,
.agencies .project_read-more a.selected,
.agencies .agency_read-more a.selected,
.contact-form input.selected[type=submit],
.wp-block-button a:hover,
.wp-block-button a:focus,
.wp-block-button a.selected {
  color: #fff !important;
  background-color: #2991d6 !important;
}

#postContent .ugb-button,
#pageContent .ugb-button {
  border: none;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  background: #2091e1;
  background: var(--s-primary-color, #2091e1);
  padding: 0;
  line-height: 1.5 !important;
  align-items: center;
  font-size: 1em;
  position: relative;
}
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button .ugb-button--inner {
  text-decoration: none !important;
  display: inline-block;
}
#postContent .ugb-button,
#postContent .ugb-button .ugb-button--inner,
#pageContent .ugb-button,
#pageContent .ugb-button .ugb-button--inner {
  transition: all 0.5s ease-in-out;
  box-shadow: none !important;
}
#postContent .ugb-button *,
#pageContent .ugb-button * {
  position: relative;
  z-index: 2;
}
#postContent .ugb-button:not(.ugb-link-button):not(.ugb-button--design-link),
#pageContent .ugb-button:not(.ugb-link-button):not(.ugb-button--design-link) {
  text-decoration: none !important;
}
#postContent .ugb-button-wrapper .ugb-block-content .ugb-button,
#pageContent .ugb-button-wrapper .ugb-block-content .ugb-button {
  margin: 0;
  display: inline-block;
}
#postContent .ugb-button-wrapper .ugb-block-content,
#pageContent .ugb-button-wrapper .ugb-block-content {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -0.5em;
  margin-right: -0.5em;
  width: calc(100% + 1em);
}
#postContent .ugb-block-content,
#postContent .ugb-inner-block,
#pageContent .ugb-block-content,
#pageContent .ugb-inner-block {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#postContent .ugb-button-wrapper .ugb-block-content > *,
#pageContent .ugb-button-wrapper .ugb-block-content > * {
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper__inner {
  position: relative !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 1rem !important;
  overflow: hidden;
}
@media (min-width: 50rem) {
  .wrapper__inner {
    max-width: 64rem !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
  }
}
@media (min-width: 64rem) {
  .wrapper__inner {
    max-width: 81rem !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
  }
}
@media (min-width: 81rem) {
  .wrapper__inner {
    max-width: 120rem !important;
    margin: 0 auto !important;
    padding: 0 9.375rem !important;
  }
}
.is-fullwidth .wrapper__inner {
  padding: 0 !important;
}

article.page-content {
  background-color: #fff;
}
article.page-content .wrapper__inner .article-h1,
article.page-content .wrapper__inner .article-body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  padding-top: 2rem;
}
@media (min-width: 50rem) {
  .grid {
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto 0;
    grid-template-areas: "hero     content" "gallery  content";
  }
}
@media (min-width: 64rem) {
  .grid {
    grid-template-columns: 56% auto;
  }
}

.grid-item--hero {
  grid-area: hero;
}

.grid-item--main-content {
  grid-area: content;
  padding-top: 1rem;
}
@media (min-width: 50rem) {
  .grid-item--main-content {
    padding-top: 0;
  }
}

.grid-item--gallery {
  grid-area: gallery;
}

/*# sourceMappingURL=main.css.map */
