// Page layout breakpoints
$small: 32rem;
$medium: 50rem;
$large: 64rem;
$larger: 80rem;
$largest: 120rem;

// Post grid column brekpoints
$grid2Col: 40rem;
$grid3Col: 64rem;
$grid4Col: 105rem;
$grid5Col: 120rem;
