
$white: #fff;
$lightGrey: #e8e8e8;
$midGrey: #cdd7d7;
$darkGrey: #5a6469;
$black: #000;

$red: #df2525;
$blue: #2991d6;

$bgHeader: $midGrey;
$bgPage: $lightGrey;
$bgBlockLight: $white;
$bgBlockDark: $darkGrey;

$fgBlockLight: $black;
$fgBlockDark: $white;

$fgLink: $black;
$fgLinkFocus: $darkGrey;
$fgLinkActive: $red;
