@charset "UTF-8";

@include font-face(
  'bureau-grotesque-bold',
  '../fonts/KingsBureauGrot-ThreeSeven',
  ('woff', 'woff2')
);

@include font-face(
  'bureau-grotesque-bolditalic',
  '../fonts/KingsBureauGrot-ThrSevnItal',
  ('woff', 'woff2')
);

@include font-face(
  'bureau-grotesque',
  '../fonts/KingsBureauGrot-FiveOne',
  ('woff', 'woff2')
);

@include font-face(
  'bureau-grotesque-italic',
  '../fonts/KingsBureauGrot-FiveOneItal',
  ('woff', 'woff2')
);

@include font-face(
  'caslon',
  '../fonts/KingsCaslon',
  ('woff', 'woff2')
);

@include font-face(
  'caslon-italic',
  '../fonts/KingsCaslonItalic',
  ('woff', 'woff2')
);

@include font-face(
  'caslon-bold',
  '../fonts/KingsCaslonSemiBold',
  ('woff', 'woff2')
);

@include font-face(
  'caslon-bolditalic',
  '../fonts/KingsCaslonSemiBoldItalic',
  ('woff', 'woff2')
);

@include font-face(
  'caslon-display',
  '../fonts/KingsCaslonDisplay',
  ('woff', 'woff2')
);

@include font-face(
  'caslon-display-italic',
  '../fonts/KingsCaslonDisplayItalic',
  ('woff', 'woff2')
);

$sansSerif:    "bureau-grotesque", sans-serif;
$sansSerif_I:  "bureau-grotesque-italic", sans-serif;
$sansSerif_B:  "bureau-grotesque-bold", sans-serif;
$sansSerif_BI: "bureau-grotesque-bolditalic", sans-serif;
$serif:        "caslon", serif;
$serif_B:      "caslon-bold", serif;
$serif_I:      "caslon-italic", serif;
$serif_BI:     "caslon-boldi", serif;
$display:      "caslon-display", serif;
$display_I:    "caslon-display-italic", serif;
