<header id="pageHeader" class="page-header" >
  <div class="page-header__wrapper wrapper{# is-fullwidth#}">

    <div id="siteHeader" class="site-header">
      <a class="site-header__site-link" href="/" rel="home">
        <img class="site-header__site-logo" src="{{ theme.path }}/assets/images/kcl-logo.png">
        <h1 class="site-header__site-name" role="banner">Kings Creatives</h1>
      </a>
    </div>


    <nav id="navMain" class="nav-main" role="navigation">
      {% include "modules/menu.twig" with {'items': menu.get_items} %}
    </nav>

  </div>
</header>
