
{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRWF2Z9"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


	<div id="pageWrapper" class='page-wrapper'>
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		{% block header %}
			{% include 'modules/page-header.twig' %}
		{% endblock %}

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			{% include 'modules/page-footer.twig' %}
		{% endblock %}
	</div><!-- #pageWrapper -->

	{{ function('wp_footer') }}
</body>
</html>
