* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: $serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 100%;
  overflow: hidden;
}
